<div class="container p-4 border rounded border-success">
  on est dans le composants enfant
  <br>

  <input type="number" class="form-control my-2" [(ngModel)]="value"/>
  <button class="btn btn-danger my-3" (click)="sendData(value)" >Send Value</button>

<!--  <hr>-->

<!--  <button class="btn btn-primary my-3" (click)="signlerLeParent()" >swich</button>-->

<!--  <hr>-->

<!--  <p>data : <strong>{{data}}</strong></p>-->
<!--  <hr>-->
<!--  <p>-->
<!--    name : {{student.name}}-->
<!--  </p>-->
<!--  <p>-->
<!--    age : {{student.age}}-->
<!--  </p>-->

<!--  <p><strong>cpt : {{cpt}}</strong></p>-->
<!--  <button class="btn btn-primary" (click)="incrementCpt()" >incrementer cpt</button>-->
</div>
