<div class="container mt-4">
  @for (produit of produits; track produit.id) {
    <div class="card mb-4 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="produit.thumbnail" class="img-fluid rounded-start" alt="{{ produit.title }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ produit.title }}</h5>
            <p class="card-text">{{ produit.description }}</p>
            <p class="card-text">
              <strong>Prix :</strong> {{ produit.price }} €<br>
              <strong>Stock :</strong> {{ produit.stock }}<br>
              <strong>Note :</strong> {{ produit.rating }} / 5
            </p>
            <div class="d-flex flex-wrap gap-2">
              @for (tag of produit.tags; track tag){
                <span class="badge bg-primary">{{ tag }}</span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
