<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4" style="width: 100%; max-width: 600px;">
    <h2 class="text-center mb-4">Bienvenue sur le Cours Angular</h2>
    <div class="list-group">
      <a href="/binding" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-link-45deg me-2"></i>Binding</span>
        <i class="bi bi-arrow-right-circle"></i>
      </a>
      <a [routerLink]="'directives'" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-link-45deg me-2"></i>Les Directives dans Angular</span>
        <i class="bi bi-arrow-right-circle"></i>
      </a>

      <a [routerLink]="'components'" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-link-45deg me-2"></i>Les Components</span>
        <i class="bi bi-arrow-right-circle"></i>
      </a>

      <a [routerLink]="'routing'" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><i class="bi bi-link-45deg me-2"></i>Routing & Navigation</span>
        <i class="bi bi-arrow-right-circle"></i>
      </a>
    </div>
  </div>
</div>
