<div class="container p-5 pt-2 border rounded border-danger">
  <p class="mb-3">on est dans le composant parent</p>

  <button class="btn btn-primary mb-3" (click)="toogleEnfant()">show - hidden</button>
  @if (isVisible) {
    <app-enfant [data]="data"/>
  }

    <input class="form-control my-3" type="text" [(ngModel)]="data">




  <!--  <app-enfant-->
<!--    (dataEmitter)="CalculSomme($event)"-->
<!--    (emitter)="swichInterepteur()"-->
<!--    [student]="student1"-->
<!--    [data]="data" #enfantRef/>-->

<!--  <p>La somme est : <strong>{{somme}}</strong></p>-->

<!--  <input class="form-control my-3" type="text" [(ngModel)]="data">-->

<!--  <p>interepteur : <strong>{{interepteur}}</strong></p>-->


<!--  <hr>-->
<!--  <app-enfant-->
<!--    (dataEmitter)="CalculSomme($event)"-->
<!--    (emitter)="swichInterepteur()"-->
<!--    [student]="student2"-->
<!--    [data]="data" />-->
<!--  <br>-->
<!--  <button class="btn btn-success mb-3" (click)="onClick()">Incrementer depuis le parent</button>-->
</div>
