<div class="container my-4">
  <div class="d-flex flex-row mb-3 gap-2">
    <div class="">
      <button class="btn btn-sm btn-success" (click)="setStatus('Completed')">Completed</button>
    </div>
    <div class="">
      <button class="btn btn-sm btn-warning" (click)="setStatus('Pending')">Pending</button>
    </div>
    <div class="">
      <button class="btn btn-sm btn-danger" (click)="setStatus('Delay')">Delay</button>
    </div>
    <div class="">
      <button class="btn btn-sm btn-secondary" (click)="setStatus('All')">All</button>
    </div>
  </div>
  <p>Nombre de projets selectionnés : <strong>{{cpt}}</strong></p>
  <p>Nombre de projets selectionnés Completed : <strong>{{cptCompleted}}</strong></p>
  <p>Nombre de projets selectionnés Pending : <strong>{{cptPending}}</strong></p>
  <p>Nombre de projets selectionnés Delay : <strong>{{cptDelay}}</strong></p>

  @for (project of projects; track project.id){
    @if (project.status === status || status == 'All'){
      <app-project
        [project]="project"
        (emitter)="updateCpt($event)"
      />
    }
  }
</div>

