<div class="container my-4">
  <div class="d-flex flex-row mb-3 gap-2">
    <div class="">
      <button class="btn btn-sm btn-success" (click)="setStatus('Completed')">Completed</button>
    </div>
    <div class="">
      <button class="btn btn-sm btn-warning" (click)="setStatus('Pending')">Pending</button>
    </div>
    <div class="">
      <button class="btn btn-sm btn-danger" (click)="setStatus('Delay')">Delay</button>
    </div>
    <div class="">
      <button class="btn btn-sm btn-secondary" (click)="setStatus('All')">All</button>
    </div>
  </div>

  @for (project of projects; track project.id){
    @if (project.status === status || status == 'All'){
      <div class="card mb-2 shadow-sm">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-primary">{{ project.text }}</h6>
          <p class="card-text text-muted small">
            {{ project.subtext }}
          </p>

          <ul>
            @for (technologie of project.technologies; track technologie){
              <li>{{technologie}}</li>
            }
          </ul>

          <div class="badge"
               [ngClass]="{'text-bg-success' : project.status === 'Completed',
                    'text-bg-danger' : project.status === 'Delay',
                     'text-bg-warning' : project.status === 'Pending'}"
          > {{project.status}} </div>
        </div>
      </div>
    }
  }
</div>

